<p>
	<b>Posted <%= time_ago_in_words(tweet.created_at) %> ago</b>
</p>
<p>
	<img src = <%= tweet.profile_image_url %>
		alt = <%= tweet.from_user%>
		align = "left"
		width = 64
		height = 64
		hspace = 5
		> 
		<p><em> <%= tweet.from_user %> </em></p>
		<p><%= tweet.text %></p>
		<p></p>
	</img>
</p>
<br>
