<p>
	<b>Posted <%= time_ago_in_words(tweet.created_at) %> ago</b>
</p>
<p>
	<img src = <%= tweet.profile_image_url %>
		alt = <%= tweet.from_user%>
		align = "left"
		width = 32
		height = 32
	> <%= tweet.text %> <%= tweet.profile_image_url %>  </img>
</p>
